<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2025 Ytec.
 *
 * @package    Ytec
 * @moduleName RestPdfInvoice
 * @author     Matheus Marqui <matheus.701@live.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/config.xsd">
    <default>
        <ytec_rest_pdf_invoice>
            <general>
                <enable>1</enable>
                <reduce_pdf_size_enabled>1</reduce_pdf_size_enabled>
                <apply_pdf_size_reduction_on_areas>webapi_rest</apply_pdf_size_reduction_on_areas>
            </general>
        </ytec_rest_pdf_invoice>
    </default>
</config>
