<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2025 Ytec.
 *
 * @package    Ytec
 * @moduleName RestPdfInvoice
 * @author     Matheus Marqui <matheus.701@live.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="ytec_rest_pdf_invoice" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="10" translate="label">
            <label>Rest Pdf Invoice</label>
            <tab>ytec</tab>
            <resource>Ytec_PdfInvoice::pdf_invoice</resource>
            <group id="general" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable or disable the Rest Pdf Invoice functionality.</comment>
                </field>
                <field id="reduce_pdf_size_enabled" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Reduce PDF Size</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[
                            Enable or disable the reduction of PDF invoice sizes.
                            <br>
                            <strong>Note:</strong> This feature will replace the original font of the PDF invoice with a ligher one.
                        ]]>
                    </comment>
                </field>
            </group>
        </section>
    </system>
</config>
